@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form action="Login" method="post">
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text w3lpass" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text w3lpass">
				<div class="wthree-text">
					<label class="anim">
						<input asp-for="RememberMe" class="checkbox">
						<span>Keep Me Signd In </span>
					</label>
					<div class="clear"> </div>
				</div>
				<input type="submit" value="SIGNIN" asp-action="Login">
				</div>
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p>
		@* <p> <a asp-action="ForgetPasword"> Forget Password?</a></p> *@
	</div>
</div>

@section validationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}

