@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="Register" method="post">
			<input type="text" class="text w3lpass" asp-for="Name" placeholder="Name" required="">
			<input type="email" class="text email" asp-for="Email" placeholder="Email" required="">
			<input type="password" class="text" asp-for="Password" placeholder="Password" required="">
			<input type="password" class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" class="checkbox" asp-for="IsAgree">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP" asp-action="Register">
		</form>
		<p>Do you have an Account? <a asp-action="Login"> Login Now!</a></p>
	</div>
</div>

@section validationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}

